<ion-content color="light">

  <ion-refresher slot ="fixed" disabled="false" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="100" pullMax="200">  
    <ion-refresher-content  
    pullingIcon="arrow-down"  
    pullingText="Pull to refresh"  
    refreshingSpinner="bubbles"  
    refreshingText="Refreshing.....">
  </ion-refresher-content>   
  </ion-refresher>  

  <div class="resume" center>
    <ion-text color="secondary" class="ion-text-center">
      <h1>{{ getTotalDistance() }} Km</h1>
      <p>Disance</p>
    </ion-text>
  </div>

  <app-activity-card *ngFor="let track of tracks" [track]="track"></app-activity-card>

</ion-content>

