<ion-content color="light">

  <ion-refresher slot ="fixed" disabled="false" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="100" pullMax="200">  
    <ion-refresher-content  
    pullingIcon="arrow-down"  
    pullingText="Pull to refresh"  
    refreshingSpinner="bubbles"  
    refreshingText="Refreshing.....">
  </ion-refresher-content>   
  </ion-refresher>  

  <div id="resume" center>
    <div id="activity-info" [style.display]="activityWatcher.isRunning ? 'flex' : 'none' ">
      <svg class = "button" height = "40px" width = "40px">
        <circle cx = "50%" cy = "50%" r = "5px"></circle>
        <circle class = "pulse" cx = "50%" cy = "50%" r = "7px"></circle>
      </svg>
      <!-- <ion-text color="success">
        <p>running</p>
      </ion-text> -->
    </div>
    <ion-text color="secondary" class="ion-text-center">
      <h1>{{ getTotalDistance() }} Km</h1>
      <p>Disance</p>
    </ion-text>
  </div>

  <div id="activity-list" [style.height]="getHight()" (scroll)="shadowed()">
    <app-activity-card *ngFor="let track of tracks, let i = index" [track]="track" [index]="i"></app-activity-card>
  </div>

</ion-content>

