<ion-content>

  <ion-list>
    <ion-item>
      Accuracy
      <ion-range min="5" max="30" color="secondary" [value]="gSetting.gpsAccuracy" (ionChange)="changeAccuracy($event)">
        <ion-label slot="start">5</ion-label>
        <ion-label slot="end">30</ion-label>
      </ion-range>
    </ion-item>

    <ion-item>
      Storage
      <ion-button slot="end" color="warning" (click)="confirmDelete()" [attr.disabled]="this.activityWatcher.state == 'Run'"> Clear Data </ion-button>
    </ion-item>
  </ion-list>

</ion-content>
