#slideunlock-slider {
  position: absolute;
  border-radius: 2px;
  overflow: hidden;
}


#slideunlock-label {
  width: 40px;
  position: absolute;
  height: 100%;
  background: #E67E22;
  z-index: 999;
  border-radius: 2px;
  cursor: pointer;
}

#slideunlock-label-tip { 
  z-index: 9;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
