:host #circle-content,
:host #button-svg{
    position: absolute;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

:host #circle-content {
    border-radius: 50%;
}

:host #ipc-icon-container{
    position: absolute;
    height: 33%;
    width: 33%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-shadow {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .7);
}

.stroke-shadow{
    -webkit-filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, .7));
    filter: drop-shadow( 0px 0px 3px rgba(0, 0, 0, .7));
}
