<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label>
          Time
        </ion-label>
        <ion-badge color="danger" slot="end">{{ geoWatcher.timer.time.hours }}: {{ geoWatcher.timer.time.minutes }} :  {{ geoWatcher.timer.time.seconds }}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Latitude
        </ion-label>
        <ion-badge color="danger" slot="end">{{ geoWatcher.currentPoint == null ? 0 : geoWatcher.currentPoint.latitude }}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Longitude
        </ion-label>
        <ion-badge color="danger" slot="end">{{geoWatcher.currentPoint == null ? 0 :  geoWatcher.currentPoint.longitude}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Altitude
        </ion-label>
        <ion-badge color="danger" slot="end">{{geoWatcher.currentPoint == null ? 0 :  geoWatcher.currentPoint.getAltitude(0)}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Accuracy
        </ion-label>
        <ion-badge color="danger" slot="end">{{ geoWatcher.maxAccuracy}} / {{geoWatcher.currentPoint == null ? 0 :  geoWatcher.currentPoint.getAccuracy()}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Direction
        </ion-label>
        <ion-badge color="danger" slot="end">{{geoWatcher.currentPoint == null ? 0 :  geoWatcher.currentPoint.getHeading()}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Speed (km/h)
        </ion-label>
        <ion-badge color="danger" slot="end">{{geoWatcher.currentPoint == null ? 0 :  (geoWatcher.currentPoint.getSpeedToKm()) }}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Distance (Km)
        </ion-label>
        <ion-badge color="primary" slot="end">{{geoWatcher.totalDistance.toFixed(3)}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-label>
          Message
        </ion-label>
        <ion-badge color="primary" slot="end">{{ geoWatcher.state }}</ion-badge>
      </ion-item>
    </ion-list>    
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
      <app-round-buttom *ngIf="!isRunning" (click)="traceLocation()" [size]="70" [type]="'play'" [color]="'rgba(127,195,113,1)'" [contentColor]="'white'"></app-round-buttom>
      <app-round-buttom *ngIf="isRunning" [size]="70" [enableChargeAnimation]="true" [type]="'stop'" [color]="'rgba(218,105,102,1)'" [contentColor]="'white'" (fullCircle)="onFullCircle($event)"></app-round-buttom>
      <app-round-buttom *ngIf="isRunning" [size]="70" [type]="'pause'" [color]="'rgba(122,129,255,1)'" [contentColor]="'white'"></app-round-buttom>
  </ion-toolbar>
</ion-footer> 