#activity-navigator{
    width: 100%;
    position: relative;
}

.activity-navigator-element{
    width: 100%;
    height: 100px;
}

.bottom-line{
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom-width: 1px !important;
    border-bottom-style: solid !important;
    border-bottom-color: lightblue !important;
}

.activity-navigator-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.medium > ion-text:first-child{
    font-size: 23px !important;
}
.medium > ion-text:last-child{
    padding: 3px;
    font-size: 13px !important;
}

.large > ion-text:first-child{
    font-size: 43px !important;
}

.large > ion-text:last-child{
    padding: 3px;
    font-size: 13px !important;
}

#navigaor-control-action{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
    z-index: 999;
}

.navigator-icon-size{
    font-size: 35px;
}

.midelle-all{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gps-icon{
    font-size: 28px;
}

#navigaor-control-inner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigaor-control-inner > app-round-buttom {
    margin: 5px;
}