<ion-content>

  <div class="ion-padding middle-all" id="navigation">
    <div id="activity-navigator">
      <div id="activity-navigator-element-container">
        <ion-row>
          <ion-col class="activity-navigator-element large">
            <ion-text> {{activityWatcher.timer.time.days}}.{{activityWatcher.timer.time.hours < 10 ? "0" + activityWatcher.timer.time.hours : activityWatcher.timer.time.hours}}.{{activityWatcher.timer.time.minutes < 10 ? "0" + activityWatcher.timer.time.minutes : activityWatcher.timer.time.minutes}}.{{activityWatcher.timer.time.seconds < 10 ? "0" + activityWatcher.timer.time.seconds : activityWatcher.timer.time.seconds}} </ion-text>
            <ion-text color="primary">DURATION</ion-text>
          </ion-col>
        </ion-row>
        <ion-row  class="bottom-line"></ion-row>
        <ion-row>
          <ion-col class="activity-navigator-element medium">
            <ion-text >{{activityWatcher.currentPoint == null ? 0 :  (activityWatcher.currentPoint.getSpeedToKm()) }}</ion-text>
            <ion-text color="primary">SPEED</ion-text>
          </ion-col>
          <ion-col class="activity-navigator-element medium">
            <ion-icon *ngIf="activityWatcher.isGpsConnected"  id="gps-icon" name="cellular" [style.color]= "'green'"></ion-icon>
            <ion-icon *ngIf="!activityWatcher.isGpsConnected" id="gps-icon" name="cellular-outline" [style.color]= "'red'"></ion-icon>
            <ion-text color="primary">GPS</ion-text>
          </ion-col>
          <ion-col class="activity-navigator-element medium">
            <ion-text>{{activityWatcher.totalDistance.toFixed(3)}}</ion-text>
            <ion-text color="primary">DISTANCE</ion-text>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>

  <div id="map-container" [style.opacity]="isRunning ? 1 : 0.4">
    <app-ion-leaflet
      [center]="activityWatcher.isGpsConnected ? activityWatcher.currentPoint : center"
      [zoom]="zoom"
      [marker]="activityWatcher.isGpsConnected ? activityWatcher.currentPoint : marker"
      [height]="getHight()">
    </app-ion-leaflet>
  </div>

  

  <div id="navigaor-control-action">
    <app-round-buttom *ngIf="!isRunning" [size]="80" [enableChargeAnimation]="true" [type]="'play'"  [color]="'rgba(27,95,113,1)'" [strokeColor]="'rgba(27,95,113,1)'" [iconColor]="'white'" (onChargeComplete)="traceLocation()"></app-round-buttom>
    <div id="navigaor-control-inner" *ngIf="isRunning">
      <app-round-buttom [size]="60" [disabled]="!isUnlock" [type]="'stop'" [color]="'rgba(218,105,102,1)'" [iconColor]="'white'" (click)="stopLocation()" ></app-round-buttom>
      <app-round-buttom [size]="80" *ngIf="!isUnlock" [enableChargeAnimation]="true" [type]="'unlock'" [color]="'rgba(0,0,202,1)'" [strokeColor]="'rgba(0,0,202,1)'" [iconColor]="'white'" (onChargeComplete)="unlock()" ></app-round-buttom>
      <app-round-buttom [size]="80" *ngIf="isUnlock" [type]="'reload'" [color]="'rgba(0,0,202,1)'" [iconColor]="'white'" (click)="lock()" ></app-round-buttom>
      <app-round-buttom [size]="60" *ngIf="!isSuspended" [disabled]="!isUnlock" [type]="'pause'" [color]="'rgba(0,200,0,1)'" [iconColor]="'white'" (click)="pauseLocation()" ></app-round-buttom>
      <app-round-buttom [size]="60" *ngIf="isSuspended"  [disabled]="!isUnlock" [type]="'play'" [color]="'rgba(0,200,0,1)'" [iconColor]="'white'" (click)="lock()" ></app-round-buttom>
    </div>  
  </div>
 
</ion-content>