#ion-card-header-top{
    background-image: url('/assets/cardbk.png');
    background-repeat: no-repeat;
    background-position: top;
}

ion-card-content {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

ion-card-header ion-row:first-child{
    padding: 15px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

#card-action-buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 10px;
    position: relative;
    width: 100%;
    background: rgba(185, 161, 161, 0.1) !important;
    height: 0px;
    transition: ease-in-out 0.3s;
    overflow: hidden;
}

#icon-actions-open{
    transition:ease-in 0.3s;
    font-size: 18px;
}

ion-card-header.show-actions-buttons #card-action-buttons {
    height: 40px !important;
}

ion-card-header.show-actions-buttons #ion-card-header-top {
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px;
}

ion-card-header.show-actions-buttons #icon-actions-open {
    //transform: rotate(180deg);
}

#activity-image-container{
    position: relative;
    height: 100px;
    width: 100%;
}

#activity-image{
    height: 20px;
}

.icon-content {
    font-size: 25px;
}

.icon-actions {
    font-size: 20px;
    margin-right: 5px;
}
