<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">

      <ion-tab-button tab="track">
        <ion-icon name="paw-outline"></ion-icon>
        <ion-label>Track</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tracks">
        <ion-icon name="golf-outline"></ion-icon>
        <ion-label>Tracks</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="map">
        <ion-icon name="map"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="about">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
      
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

