<ion-header>
  <ion-toolbar>
    <ion-title>
        Runner
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

  <ion-button *ngIf="!isRunning" (click)="traceLocation()" expand="block" > Start </ion-button>
  <ion-button *ngIf="isRunning"  (click)="stopLocation()"  expand="block" > Stop  </ion-button>

  <ion-list>
    <ion-item>
      <ion-label>
        Latitude
      </ion-label>
      <ion-badge color="danger" slot="end">{{ currentPoint == null ? 0 : currentPoint.latitude}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        Longitude
      </ion-label>
      <ion-badge color="danger" slot="end">{{currentPoint == null ? 0 :  currentPoint.longitude}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        Altitude
      </ion-label>
      <ion-badge color="danger" slot="end">{{currentPoint == null ? 0 :  currentPoint.altitude}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        Accuracy
      </ion-label>
      <ion-badge color="danger" slot="end">{{currentPoint == null ? 0 :  currentPoint.accuracy}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        Direction
      </ion-label>
      <ion-badge color="danger" slot="end">{{currentPoint == null ? 0 :  currentPoint.heading}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        Speed (km/h)
      </ion-label>
      <ion-badge color="danger" slot="end">{{currentPoint == null ? 0 :  (currentPoint.speedToKm) }}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        Speed (m/s)
      </ion-label>
      <ion-badge color="danger" slot="end">{{currentPoint == null ? 0 :  (currentPoint.speedToMs) }}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        Speed (raw)
      </ion-label>
      <ion-badge color="danger" slot="end">{{currentPoint == null ? 0 :  (currentPoint.speed) }}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>
        Distance (meters)
      </ion-label>
      <ion-badge color="primary" slot="end">{{totalDistance}}</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label class="ion-text-center">
         {{ message }}
      </ion-label>
    </ion-item>
    </ion-list>    
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ timer.time.hours }}: {{ timer.time.minutes }} :  {{ timer.time.seconds }}</ion-title>
  </ion-toolbar>
</ion-footer> 